@media (max-width:768px) {
    #main-nav .flex-container {
        margin-top: 0.75rem;
        position: absolute;
        top: 0;
        right: 0;
        align-items: center;
    }

    #main-nav .social_item {
        width: 50px;
    }

    #main-nav .icon {
        height: 35px;
        width: 35px;
    }

    #main-nav .container {
        grid-template-columns: 1fr;
        grid-gap: 1.2rem;
        position: relative;
    }

    #main-nav ul {
        justify-self: center;
    }

    #main-nav .logo {
        justify-self: center;
    }

    #main-nav ul li a {
        padding: 0.5rem;
    }

    /* showcase */


    /* Home part (ARTICLES) */

    #home-articles .articles-container {
        grid-template-columns: repeat(2, 1fr);

    }

    /* 
#home-articles .articles-container>*:first-child {
    grid-column: 1/span 3;
}

#home-articles .articles-container>*:nth-child(4) {
    grid-column: 1/span 3;
}

#home-articles .articles-container>*:last-child {
    grid-column: 1/span 3;
}
 */

    #home-articles .articles-container article:first-child,
    #home-articles .articles-container article:last-child {
        grid-template-columns: 1fr;
        grid-column: 1;
    }

}

@media(max-width:600px) {
    #main-nav .social_item {
        width: 30px;
        margin-right: 2px;
    }

    #main-nav .icon {
        height: 20px;
        width: 20px;
    }

    #main-nav .social_item:last-child {
        margin-left: -4px;
        margin-right: 5px;
    }

    #main-nav .social_item:nth-child(3) {
        margin-left: 240px;
    }


    #main-nav .flex-container {
        top: -8px;
    }

    #showcase .showcase-container,
    #home-articles .articles-container {
        grid-template-columns: 1fr;
    }

    #main-footer .footer-container {
        grid-template-columns: 1fr;
    }

    #main-footer .footer-container>*:last-child {
        grid-column: 1;
    }

    #main-footer .footer-container>* {
        border: 1px dotted #444;
        padding-bottom: 1rem;
    }

    #main-footer .footer-container>*:last-child,
    #main-footer .footer-container>*:nth-child(3),
    #main-footer .footer-container>*:nth-child(4) {
        border: none;
    }

    .page-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .page-container>*:first-child {
        grid-row: 1;
    }

    .l-heading {
        font-size: 2rem;
    }
}